<div
  data-expanded-url="<%= @expand_url %>"
  class="<%= @widget.component %> <%= "pointer-events-none" if @library_mode %> inline-widget relative flex flex-col border text-primary shadow-3 rounded-lg overflow-hidden m-8"
  <%= "inert" if @library_mode %>
>
  <header class="flex items-center min-h-48 bg-white border-b px-16 select-none">
    <p id="heading" role="heading" aria-level="2" class="my-0 subtitle3">
      <%= @widget.name %>
    </p>
  </header>

  <div class="relative flex flex-1">
    <%= content %>
    <%= render "error" if @error.present? %>
    <%= render "spinner" %>
  </div>

  <% wrap_logo_with_link = !@library_mode && @widget.logo_link_url.present? %>
  <footer class="flex items-center justify-between min-h-48 bg-white border-t px-16">
    <% if wrap_logo_with_link %>
      <a href="<%= @widget.logo_link_url %>" target="_blank">
    <% end %>
    <img
      id="logo"
      src="<%= @widget.logo_url %>"
      alt="<%= @widget.partner %>"
      style="max-height: 1.875rem;"
    />
    <% if wrap_logo_with_link %>
      </a>
    <% end %>
    <div class="actions flex items-center space-x-8">
      <% unless @library_mode %>
        <% if @expand_url.present? %>
          <button class="expand-button flex items-center cursor-pointer" aria-label="Expand widget">
            <span class="icon icon-grow"></span>
          </button>
        <% end %>
        <button class="menu-button flex items-center cursor-pointer" aria-label="Open menu">
          <span class="icon icon-dots-three-vertical"></span>
        </button>
        <mx-menu>
          <mx-menu-item>Remove widget</mx-menu-item>
        </mx-menu>
      <% end %>
    </div>
  </footer>
</div>

<%= javascript_include_tag "inline_widget_component" %>

<script type="module">
window.WidgetFactory.addMessageHandler('<%= @widget.component %>');
window.WidgetFactory.initMenu('<%= @widget.component %>');
window.WidgetFactory.addLogoClickHandler('<%= @widget.component %>');
window.WidgetFactory.addExpandClickHandler('<%= @widget.component %>');
const apiError = '<%= @error&.gsub(/'/, "\\\\'") %>';
if (apiError !== '') console.error(apiError);
</script>
