<%= stylesheet_link_tag "tips/style" %>

<%= render(InlineWidgetComponent.new(widget: @widget, library_mode: @library_mode)) do %>
  <div class="flex flex-1 py-12 px-16 tip-bg" style="--tip-bg: var(--tip-bg-<%= @bg %>)">
    <div data-tip-id="<%= @id %>" class="tip-container w-full flex-1 flex flex-col-reverse items-center justify-center p-12 rounded-xl <%= @library_mode ? "pointer-events-none" : "" %>">
      <% if @cta_label.present? %>
        <mx-button btn-type="text" href="<%= @cta_url %>" class="max-w-full" target="_blank">
          <%= @cta_label %>
        </mx-button>
      <% end %>
      <p class="text-4 my-0 mb-8 text-center overflow-hidden" style="overflow-wrap: anywhere">
        <%= @tip %>
      </p>
    </div>
  </div>

  <%= javascript_include_tag "tips_component", type: "module" %>
<% end %>
