<link rel="stylesheet" type="text/css" href="/assets/hurdlr/style.css">

<div class="hurdlr inline-widget relative flex flex-col border bg-white text-primary shadow-3 rounded-lg overflow-hidden m-8">
  <header class="flex items-center min-h-48 bg-white border-b px-16 select-none">
    <p id="heading" role="heading" aria-level="1" class="my-0 subtitle3">
      <%= @heading %>
    </p>
  </header>
  <div class="flex-1 subtitle4 p-16">
    <table class="w-full" cellspacing="0">
      <thead class="sr-only">
        <tr>
          <th id="metric-heading">Metric</th>
          <th id="amount-heading">Amount</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <footer
    class="flex items-center min-h-48 justify-between bg-white border-t px-16"
  >
    <% unless @library_mode %>
      <a href="https://prod-integration.hurdlr.com/saml/assertion/stellar">
    <% end %>
    <img id="logo" src="/assets/hurdlr/logo.png" width="64" height="30" alt="Hurdlr" />
    <% unless @library_mode %>
      </a>
    <% end %>
    <div class="actions flex items-center">
      <% unless @library_mode %>
        <button class="menu-button flex items-center cursor-pointer" aria-label="Open menu">
          <span class="icon icon-dots-three-vertical"></span>
        </button>
        <mx-menu>
          <mx-menu-item>Modify settings</mx-menu-item>
          <mx-menu-item>Remove widget</mx-menu-item>
        </mx-menu>
      <% end %>
    </div>
  </footer>
</div>

<script type="module">
const root = document.querySelector('.hurdlr');
const rows = [
  { label: 'Income', key: 'revenue', value: <%= @data[:revenue] %> },
  { label: 'Expenses', key: 'expenses', value: <%= @data[:expenses] %> },
  { label: 'Taxes', key: 'overallTaxAmount', value: <%= @data[:overallTaxAmount] %> },
  { label: 'Profit after tax', key: 'afterTaxIncome', value: <%= @data[:afterTaxIncome] %> },
];
const formatUSD = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
  minimumFractionDigits: 0,
  maximumFractionDigits: 0,
});
const tbody = root.querySelector('tbody');
// Generate the table rows
rows.forEach(row => {
  const tr = document.createElement('tr');
  let percent = row.value / <%= @data[:revenue] %> * 100;
  if (isNaN(percent)) percent = 0;
  tr.innerHTML = `
    <td aria-labelledby="metric-heading" id="${row.key}-label">
      <div class="relative bg-bar overflow-hidden rounded h-32">
        <!-- Dark label outside bar (visible to screen readers) -->
        <span class="absolute top-0 flex px-8 h-full items-center whitespace-nowrap transition-opacity opacity-0 duration-200" data-percent="${percent}">
          ${row.label}
        </span>
        <div class="bg-bar-fill relative inline-block h-full overflow-hidden rounded transform origin-left scale-x-0 transition-transform duration-200" style="width: ${percent}%">
          <!-- White label inside bar (hidden from screen readers, but provides contrast) -->
          <span aria-hidden="true" class="invisible text-white flex px-8 h-full items-center whitespace-nowrap transition-opacity opacity-0 duration-200">
            ${row.label}
          </span>
        </div>
      </div>
    </td>
    <td class="align-middle" aria-labelledby="amount-heading ${row.key}-label">
      ${formatUSD.format(row.value)}
    </td>
  `
  tbody.appendChild(tr);
});

// Move labels onto the bar if they do not fit to the right
const observer = new ResizeObserver(() => {
  const labels = root.querySelectorAll('.bg-bar > span');
  labels.forEach(label => {
    const percentNeeded = label.offsetWidth / label.parentElement.offsetWidth * 100;
    const percentAvailable = 100 - label.dataset.percent;
    const inBarLabel = label.nextElementSibling.querySelector('span');
    label.classList.remove('opacity-0'); // Fade in labels
    inBarLabel.classList.remove('opacity-0');
    if (percentNeeded > percentAvailable) {
      label.style.left = '0';
      inBarLabel.classList.remove('invisible');
    } else {
      label.style.left = `${label.dataset.percent}%`;
      inBarLabel.classList.add('invisible');
    }
  });
});
setTimeout(() => {
  root.querySelectorAll('.scale-x-0').forEach(el => {
    el.classList.remove('scale-x-0'); // Animate bars
  });
  observer.observe(root.querySelector('table'))
}, 100);

const menu = root.querySelector("mx-menu");
const menuButton = root.querySelector(".menu-button");
if (menu && menuButton) menu.anchorEl = menuButton;

const menuItems = root.querySelectorAll("mx-menu-item");
if (menuItems.length) {

  menuItems[0].addEventListener("click", () => {
    window.parent.postMessage(
      { type: "MODIFY_SETTINGS", payload: {} },
      "*"
    );
  });
  menuItems[1].addEventListener("click", () => {
    window.parent.postMessage(
      { type: "REMOVE", payload: {} },
      "*"
    );
  });
}

window.addEventListener("message", (e) => {
  if (e.data.type === "UPDATE_PREVIEW") {
    const { heading, logo } = e.data.payload;
    if (heading) root.querySelector("#heading").innerText = heading;
    if (!root.querySelector("#logo").dataset.src) root.querySelector("#logo").dataset.src = root.querySelector("#logo").src;
    root.querySelector("#logo").src = logo || root.querySelector("#logo").dataset.src;
  }
});
</script>
