<%= stylesheet_link_tag "hurdlr/style" %>

<%= render(InlineWidgetComponent.new(widget: @widget, library_mode: @library_mode, error: @error)) do %>
  <div class="relative flex items-center flex-1 subtitle4 p-16">
    <table
      class="w-full"
      cellspacing="0"
      data-revenue="<%= @data[:revenue] || 0 %>"
      data-expenses="<%= @data[:expenses] || 0 %>"
      data-overall-tax-amount="<%= @data[:overallTaxAmount] || 0 %>"
      data-after-tax-income="<%= @data[:afterTaxIncome] || 0 %>"
    >
      <thead class="sr-only">
        <tr>
          <th id="metric-heading">Metric</th>
          <th id="amount-heading">Amount</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <% if @subscription_not_found %>
      <div class="absolute inset-0 w-full h-full flex flex-col items-center justify-center bg-white">
        <p class="subtitle2 my-0 mb-24 text-center">
          Sorry, we can’t find your account.<br />Please sign up to get started.
        </p>
        <mx-button class="sign-up" href="https://web.hurdlr.com/onboarding/selectBusiness" target="_blank">
          Sign up for Hurdlr
        </mx-button>
      </div>
    <% end %>
  </div>

  <%= javascript_include_tag "hurdlr_component", type: "module" %>
<% end %>

