<!-- Token: <%= @token %> -->
<%= stylesheet_link_tag "list_trac/style" %>

<% if current_page?(component_named_expanded_path('list_trac')) %>

  <%# Expanded Widget %>
  <%# TODO: Factor out expanded component %>
  <div class="list_trac w-screen h-screen">
    <mx-modal large close-on-escape="false">
      <div slot="header-left"><%= @widget.name %> (Last 30 days)</div>
      <div slot="header-right" class="flex items-center space-x-16">
        <mx-button class="close-button" btn-type="text">Close</mx-button>
      </div>
      <mx-table></mx-table>
      <div slot="footer-left">
        <% if @widget.logo.attached? %>
          <a href="<%= @widget.logo_link_url %>" target="_blank">
            <img id="logo" src="<%= @widget.logo_url %>" width="105" height="48" alt="<%= @widget.partner %>" />
          </a>
        <% end %>
      </div>
    </mx-modal>
  </div>

  <%# Expanded Widget Script %>
  <script type="module">
  const SESSION_ID = '<%= params[:session_id] %>';
  const root = document.querySelector('.list_trac');
  const sendCloseMessage = () => {
    window.parent.postMessage(
      { type: "CLOSE_EXPANDED", payload: {} },
      "*"
    );
  }
  const modal = root.querySelector("mx-modal");
  const observer = new MutationObserver(mutations => {
    requestAnimationFrame(() => {
      modal.isOpen = true;
      window.parent.postMessage(
        { type: "SET_LOADING", payload: { component: 'list_trac', isLoading: false } },
        "*"
      );
    });
    observer.disconnect();
  });
  observer.observe(root, { subtree: true, childList: true });
  modal.addEventListener("mxClose", sendCloseMessage);
  /* We have to recreate the close button since we are overriding the default content of the 
  /* header-right slot. */
  const closeButton = root.querySelector(".close-button");
  closeButton.addEventListener("click", sendCloseMessage);

  /* The close-on-escape behavior provided by mx-modal does not work in an iframe. */
  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") sendCloseMessage();
  });

  document.addEventListener('click', (e) => {
    if (e.target.closest('a img#logo')) {
      logEvent('widget_click_partner_logo');
    }
  });

  const table = root.querySelector("mx-table");
  table.rows = JSON.parse('<%= raw @listings.to_json %>');
  table.columns = [
    { heading: "Address", property: "Address", sortable: true },
    { heading: "Views", property: "ViewCount", sortable: true },
    { heading: "Leads", property: "InquiryCount", sortable: true },
    { isActionColumn: true } // Design has a blank column here
  ];

  function logEvent(eventType, eventData) {
    _fetch(`/api/events/?session_id=${SESSION_ID}`, {
      method: 'POST',
      body: JSON.stringify({
        event_type: eventType,
        event_data: eventData,
        component: 'list_trac',
      })
    });
  }

  async function _fetch(url, options) {
    options = { ...options, headers: { 'Content-Type': 'application/json' } }
    const response = await fetch(url, options)
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
  }
  </script>

<% else %>

  <%# Inline Widget %>
  <%= render(InlineWidgetComponent.new(widget: @widget, expand_url: @expand_url, library_mode: @library_mode, error: @error)) do %>
    <div class="flex-1 py-12 px-16 bg-gray relative min-w-0 max-w-full overflow-hidden">
      <table class="w-full max-w-full overflow-hidden min-w-0 rounded-xl bg-white shadow-1" cellspacing="0">
        <thead class="h-32">
          <tr>
            <th class="text-left pl-24">Address</th>
            <th>Views</th>
            <th>Leads</th>
          </tr>
        </thead>
        <tbody class="caption2">
          <% if @listings.any? %>
            <% @listings.first(4).each do |listing| %>
            <tr>
              <td title="<%= listing[:Address] %>">
                <%= listing[:Address] %>
              </td>
              <td><%= listing[:ViewCount] %></td>
              <td><%= listing[:InquiryCount] %></td>
            </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3">
                <div class="flex flex-col items-center justify-center">
                  <%= image_tag "design-version-control.svg", alt: "", class: "w-72 h-72 mb-8" %>
                  <p class="caption2 my-0 whitespace-normal text-center">
                    We know you're working hard. When you have listings, you'll see them here.
                  </p>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
        <% if @listings.any? %>
          <tfoot>
            <tr>
              <td colspan="3">
                <% remaining = @listings.count - 4 %>
                <% if remaining > 0 %>
                  <button class="view-more">View <%= remaining %> more</button>
                <% end %>
              </td>
            </tr>
          </tfoot>
        <% end %>
      </table>
    </div>

    <%= javascript_include_tag "list_trac_component", type: "module" %>
  <% end %>
<% end %>
