<%= stylesheet_link_tag "widget_panel/style" %>

<script type="module">
window.WidgetFactory = window.WidgetFactory || {};
window.WidgetFactory.SESSION_ID = '<%= params[:session_id] %>';
</script>

<% unless current_page?(component_named_expanded_path) %>
<%# Inline Widget (My Widgets) %>
<section class="widget_panel text-primary relative" data-expanded-url="<%= component_named_expanded_path %>">
  <header class="flex items-center justify-between px-8">
    <p id="widgets-heading" role="heading" aria-level="1" class="my-0 subtitle2">My Widgets</p>
    <mx-button btn-type="text" icon="icon icon-plus-circle">
      Add/Remove
      <span class="add-remove-widgets">Widgets</span>
    </mx-button>
  </header>
  <% if @widgets.any? %>
    <p id="reorder-help" class="sr-only">
      Activate the reorder button and use the arrow keys to reorder the list. Press Escape or Tab to cancel the reordering.
    </p>
    <ol class="widget-grid overflow-hidden md:pb-96" aria-labelledby="widgets-heading">
      <% @widgets.each do |widget| %>
        <li data-widget-id="<%= widget.id %>" data-widget-component="<%= widget.component %>" data-widget-name="<%= widget.name %>">
          <%= render widget.view_component.new(widget: widget) %>
        </li>
      <% end %>
    </ol>
  <% end %>
  <div class="empty-state text-center <%= @widgets.any? ? "hidden" : "" %>">
    <div class="text-h5 my-0 mt-24 mb-8">
      No widgets to show yet
    </div>
    <div class="mb-16">
      Widgets offer a convenient pulse check of your real estate ecosystem by surfacing essential activity and insights right from your dashboard. Select “Add/Remove Widgets” to get started.
    </div>
    <%= image_tag "empty-state.svg", alt: "", role: "presentation", class: "mx-auto", style: "width: 200px;" %>
  </div>
  <div class="panel-loading absolute inset-0 w-full h-full hidden items-center justify-center bg-gray opacity-50">
    <mx-circular-progress size="10%"></mx-circular-progress>
  </div>
</section>

<%# Inline Widget Script (My Widgets) %>
<%= javascript_include_tag "widget_panel_component", type: "module" %>

<% else %>
<%# Expanded Widget (Widget Library) %>
<div class="widget_panel w-screen h-screen">
  <mx-modal large close-on-escape="false">
    <div slot="header-left">Library</div>
    <div class="widget-library-grid">
      <% @active_widgets.each do |widget| %>
        <% added = @widgets.include?(widget) %>
        <div data-widget-id="<%= widget.id %>" data-widget-component="<%= widget.component %>" class="px-16 pt-16 pb-24 bg-white rounded-lg">
          <div class="px-8 mb-20">
            <mx-button btn-type="text" icon="icon icon-plus-circle" class="add-button <%= added ? "hidden" : "" %>">
              <span class="button-text">Add widget</span>
            </mx-button>
            <div class="remove-button-wrapper relative <%= added ? "" : "hidden" %>">
              <!-- It was cleaner to do this with two buttons and CSS instead of JavaScript. -->
              <!-- Remove button that is hovered/focused/active.  -->
              <mx-button btn-type="text" icon="icon icon-minus-circle" class="remove-button absolute left-0 opacity-0 hover:opacity-100 focus-within:opacity-100">
                <span class="button-text">Remove from Dashboard</span>
              </mx-button>
              <!-- Not hovered/focused/active -->
              <mx-button btn-type="text" icon="icon icon-checkbox-circle" class="added-button pointer-events-none" disabled>
                Added to Dashboard
              </mx-button>
            </div>
          </div>
          <%= render widget.view_component.new(library_mode: true, widget: widget) %>
          <div class="px-8 mt-20">
            <p role="heading" aria-level="3" class="overline2 my-0 mb-8">
              Description
            </p>
            <p class="text-4 my-0">
              <%= widget.description %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </mx-modal>
</div>

<%# Expanded Widget Script (Widget Library) %>
<%= javascript_include_tag "widget_panel_component_expanded", type: "module" %>

<% end %>
